body {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #34495e;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 550px;
  width:55%;
  overflow:hidden;
  
  font-family: "Sansation";
  font-size: 100px;
  line-height: 110px;
  color: #ecf0f1;
}



.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 110px;
    padding:0px 40px;
}


:after, :before {
    position: absolute;
    top: -5px;
    color: #16a085;
    font-size: 110px;
    line-height: 110px;
    
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .content__container:before {
      content: '[';
      left: -5px;
    }

    .content__container:after {
      content: ']';
      position: absolute;
      right: 0px;;
    }

    .content__container__text {
      display: inline;
      float: left;
      margin: 0;
    }

    .content__container__list {
      margin-top: 0;
      padding-left: 270px;
      text-align: left;
      list-style: none;
      
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;
    }
      .content__container__list__item {
        line-height:108px;
        margin:0;
      }
    


@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}


@font-face {
    font-family: "Sansation";
    src: url('../fonts/sansation_regular-webfont.woff') format('woff'), url('../fonts/sansation_regular-webfont.ttf') format('truetype');
  }
  @font-face {
    font-family: "Sansation";
    src: url('../fonts/sansation_light-webfont.woff') format('woff'), url('../fonts/sansation_light-webfont.ttf') format('truetype');
    font-weight: light;
  }


  #count {
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 0;
  }

 

  #switch {
    background-color: transparent;
    border: 4px solid white;
    border-radius: 50px;
    color: white;
    font-size: 30px;
    padding: 15px 40px 15px 40px;
    transition: 0.3s;
    width: 230px;
    text-decoration: none;
    position: relative;
    top:0px;
  }
  
  #switch:hover {
    background-color: white;
    color: #26dcd0;
    cursor: pointer;
  }
  